@import 'src/styles/vars'; 

b {
    font-weight: $medium;
  }

.forgot {

    width : 100%;
    height : 100%;


    &-text {
        width: 100%;
        font-family: $typo;
        font-size: $regular;
        font-style: italic;
        color : $black-text-color; 
        padding : 0 2em 0 2em;
        line-height : 1.5em;

        &-link {
            color: $add-button-color;
            cursor: pointer;
            display: block;
            font-size: 0.8em;
            margin: 2em 0;
            text-align: center;
            text-decoration: underline;
        
            &:hover {
              opacity: .8;
              cursor: pointer;
            }
        }
    }

    &-logo {
        @extend .logo ;
    }

    &-subTitle {
        font-size: 1.5em;
        //text-transform : uppercase;
        font-weight: $medium;
        text-align : center;
        color : $dark-grey-text-color;
        margin-bottom : 6%;
    }

    &-retour {
        margin : auto;
        margin-top : 3%;
            @extend .button--add ;
            cursor: pointer;

    }


    &-form-submit {
        margin : auto;
            @extend .button--forgot ;
            cursor: pointer;

    }


}