

//TEXT COLORS
$black-text-color:#262020;
$dark-grey-text-color:#707070;
$medium-grey-text-color:#707070;
$grey-text-color:#8D8B8B;
$light-grey-text-color: #C2C2C2;

//BACKGROUND COLORS
$white-backgroud-color:#FFFBF8;

//INTERFACE COLORS
$toolbar-color: #041F31;
$error-color: #FF401B;
$add-button-color:#529AF3;

//CATEGORY COLORS
$cat-event-color:#BBE41D;
$cat-help-color:#5AC3FF;
$cat-treasure-color:#FF4D4D;

//TYPOGRAPHY
// all typos can be italic, just add "font-style: italic;" in your CSS sheet. 
$typo-size : 16px;
$typo : 'Montserrat', sans-serif;
$light : 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700; 