.button,
.button--add,
.button--connexion,
.button--inscription,
.button--forgot {
  border: 4px solid #529af3;
  border-radius: 50px;
  padding: 0.3em 1em 0.3em 1em;
  background-color: #fffbf8;
  font-size: 500;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button:hover,
.button--add:hover,
.button--connexion:hover,
.button--inscription:hover,
.button--forgot:hover {
  opacity: 0.8;
  cursor: pointer;
}
.button--add {
  border-color: #529af3;
}
.button--connexion {
  border-color: #5ac3ff;
}
.button--inscription {
  border-color: #bbe41d;
}
.button--forgot {
  border-color: #ffdb26;
}
