@import 'src/styles/vars';
label {
  display: block;
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 0.3rem;
}

.adress-search {
  width: 100%;
  &-input {
    width: 100%;
  }
}
input {
  width: 80%;
}

li:hover {
  background-color: yellow;
}
