@import 'src/styles/vars';
label {
  display: block;
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 0.3rem;
  text-align: center;
}


// .adress-search-input {
//   margin-top : 1em;
//   margin : auto;
//   width : 100%;
//   text-align: center;
//   height: 2.5em;
//   margin-bottom: 3%;
//       @extend .field ;
//       cursor: pointer;
// }
