@import 'src/styles/_vars'; 

#app {
  font-size: 1.2em;
  //text-align: center;
}

.maincontainer {
  display : flex;
  flex-wrap: wrap;
}
// body {
//   margin: 0;
//   padding: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

//Container Les Pages
.contentContainer{
  
  width : 25%;
  height : 100vh;
  margin-left: 0em!important;
  margin-right: 0em!important;
  background-color: $white-backgroud-color;
  display:inline-block;
}

.mapContainer {
  width : 75%;
  height : 100vh; 
  background-color : blue;
  display: inline-block;

}

.navBar {
  background-color : green; 
  width : 100%; 
  height : 10vh; 
  display : block; 
  
}

