@import 'src/styles/vars';

* {
  box-sizing: border-box;
  font-family: $typo !important;
}

#app {
  font-size: 1.2em;
  background-color: $white-backgroud-color;
}

.maincontainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;


  &-image {
    background-image: url('/public/bggastontuto.jpg');
    width : 500px;
  }
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 20px;
  height: 20px;
}

//Container Les Pages
@media (max-width: 480px) {
  .contentContainer {
    width: 100%;
    margin-left: 0em !important;
    margin-right: 0em !important;
    padding-left: $gutter / 2;
    background-color: $white-backgroud-color;
    display: inline-block;
    position: relative;
  }
}

.contentContainer {
  width: 30%;
  margin-left: 0em !important;
  margin-right: 0em !important;
  padding-left: $gutter / 2;
  background-color: $white-backgroud-color;
  display: inline-block;
  position: relative;
}

.mapContainer {
  min-height: 100% !important;
  max-height: 100% !important;
  width: 70%!important;
  height: 100%!important;
  background-color: lighten($add-button-color, 32%);
  display: inline-block;
  

  &-image {
    float: right;
    width : 100%;
    height : calc(100vh - 3rem);
    background-image: url('/public/bggaston.jpg');
    background-size: cover;
    &:hover {
      filter : blur(4px);
    }
   }
}
